<% layout('layout/village') %>
  <div class="card bg-dark text-white">
    <img src="/images/1.png" class="card-img" alt="...">
  </div>
 
<h1 class="card bg-info text-center">Loan</h1>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="/images/loan.jpeg" style="height: 300px; width: auto;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Home Loan</h5>
          <p class="card-text">Public Bank Home Loans is the largest Mortgage Lender in India, which has helped over 30 lakh families to achieve the dream of owning a home.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/images/scholarship.jpg" style="height: 300px; width: auto;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Scholarship</h5>
          <p class="card-text"> This portal has been developed under the guidance of Department of Financial Services (Ministry of Finance), Department of Higher Education (Ministry of Education) and Indian Banks Association (IBA). </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/images/gold.jpg" style="height: 300px; width: auto;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Gold Lone</h5>
          <p class="card-text">Public Bank Gold Loan can be availed by pledge of gold ornaments including gold coins sold by Banks with minimum paper work and low interest rate.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/images/personal.png" style="height: 300px; width: auto;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Personal Lone</h5>
          <p class="card-text">Low interest rates. Further, we charge interest on a daily reducing balance!. Low processing charges .No hidden cost / administrative charges</p>
        </div>
      </div>
    </div>
  </div>
  
  <img src="/images/bank.png"  class="card-img"alt="">

