<% layout('layout/village') %>

   <div>
    <% for(let trans of transaction){ %>
      <div class="card-body">
          <div class="card-header bg-info">
              <%= trans.Date.toLocaleDateString() %>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
  
              <p><%= trans.Description  %></p>
              <footer class="blockquote-footer"><%= trans.Date%></footer>
            </blockquote>
          </div>
        </div>
        <% } %> 
   </div>